.price-list-note {
  display: block;
  color: var(--mainColor);
  font-weight: 700;
  font-size: 20px;
}

.price-list-note--cell {
  color: #fff;
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
}

.price-list-note--dark {
  color: var(--tableText);
}
