include ../price-list-title/price-list-title
include ../price-list-subtitle/price-list-subtitle
include ../price-list-table/price-list-table
include ../price-list-note/price-list-note

mixin price-list()
  .price-list&attributes(attributes)
    +price-list-title('Придайте вашему роботу индивидуальности!')
    +price-list-subtitle('Мы&nbsp;настроим его под ваши нужды при производстве')
    +price-list-table(
      [
        [
          {'header': 'Наименование'},
          {
            'header': 'Promobot V.2, V.2+',
            'note': 'Стоимость, руб. <br> (НДС не&nbsp;облагается)'
          },
          {
            'header': 'Promobot V.3',
            'note': 'Стоимость, руб. <br> (НДС не&nbsp;облагается)'
          }
        ]
      ], 
      [
        {
          'option': 'Загрузка в&nbsp;робота дополнительной информации при производстве (зазывные речевые модули, фото, видео)',
          'price': [
            {'value': '22&nbsp;000&nbsp;руб.'},
            {'value': '15 400&nbsp;руб.'}
]
        },
        {
          'option': 'Выстраивание продающего диалога при производстве (при ответе на&nbsp;отвлеченные вопросы упоминать товары&nbsp;/ услуги Заказчика, а&nbsp;также выстраивать диалог так, чтобы предлагать товары и&nbsp;услуги Заказчика)',
          'price': [
            {'value': '82&nbsp;500&nbsp;руб.'},
            {'value': '57 750&nbsp;руб.'}
          ]
        },
        {
        'option': 'Доступ в&nbsp;лингвистическую базу',
          'price': [
            {'value': '110 000&nbsp;руб.'},
            {'value': '110 000&nbsp;руб.'}
          ]
        },
        {
          'option': 'Возможность сбора и&nbsp;предоставления аналитической информации (по&nbsp;клиентам и&nbsp;проведенным диалогам)',
          'price': [
            {'value': '110 000&nbsp;руб.'},
            {'value': '110 000&nbsp;руб.'}
          ]
        },
        {
          'option': 'Сервис телеприсутствия',
          'price': [
            {'value': '110 000&nbsp;руб.'},
            {'value': '110 000&nbsp;руб.'}
          ]
        },
        {
          'option': 'Размещение принтера для печати фотографий',
          'price': [
            {'value': '49 550&nbsp;руб.'},
            {'value': '64 785&nbsp;руб.'}
          ]
        },
        {
          'option': 'Изменение корпуса с&nbsp;целью размещения доп. оборудования',
          'price': [
            {'value': 'от 88 000&nbsp;руб.'},
            {'value': 'от 128 000&nbsp;руб.'}
          ]
        },
        {
          'option': 'Построение карты помещения для движения по&nbsp;заданным траекториям',
          'price': [
            {'value': 'от 165 000&nbsp;руб.'},
            {'value': 'от 165 000&nbsp;руб.'}
          ]
        },
        {
          'option': 'Сервис SIP-телефонии',
          'price': [
            {'value': '&mdash; '},
            {'value': '110 000&nbsp;руб.'}
          ]
        },
        {
          'option': 'Размещение платежного терминала и&nbsp;принтера для печати чеков',
          'price': [
            {'value': '&mdash; '},
            {'value': '64 785&nbsp;руб. '}
          ]
        },
        {
          'option': 'Дополнительные функции по&nbsp;желанию Заказчика',
          'price': [
            {
              'colspan': 2,
              'value': 'в соответствии с&nbsp;ТЗ'
            }
          ]
        }
      ]
    )
    +price-list-title('Или выберите готовую комплектацию')
    +price-list-table(
      [
        [
          {
            'header': 'Описание',
            'rowspan': 2
          },
          {
            'header': 'На базе Promobot',
            'note': 'Стоимость, руб. (НДС не&nbsp;облагается)',
            'colspan': 3
          }
        ],
        [
          {'header': 'V.2'},
          {'header': 'V.2+'},
          {'header': 'V.3'}
        ]
      ], 
      [
        {
          'option': 'Base <br> В&nbsp;данной комплектации при производстве Promobot будет загружена вся необходимая вам информация: зазывные речевые модули, фото, видео',
          'price': [
            {'value': '462 000&nbsp;руб.'},
            {'value': '577 500&nbsp;руб.'},
            {'value': '1 215 400&nbsp;руб.'},  
          ]
        },
        {
          'option': 'Professional <br> При производстве в&nbsp;робота буде загружена вся необходимая вам информация. Кроме того, Promobot в&nbsp;процессе общения будет собирать и&nbsp;предоставлять вам аналитику по&nbsp;клиентам и&nbsp;проведенным диалогам',
          'price': [
            {'value': '572 000&nbsp;руб.'},
            {'value': '687 500&nbsp;руб.'},
            {
              'value': '1 325 400&nbsp;руб.',
              'note': '(в&nbsp;стоимость входит доступ в&nbsp;лингвистическую базу, но&nbsp;не&nbsp;входит сбор аналитики)'
            }
          ]
        },
        {
          'option': 'Expert <br> Вы&nbsp;сможете изменить и&nbsp;перезагрузить речевые модули и&nbsp;промоматериалы, отредактировать параметры выстраивания интеллектуального диалога, получив доступ в&nbsp;лингвистическую базу',
          'price': [
            {'value': '682 000&nbsp;руб.'},
            {'value': '797 500&nbsp;руб.'},
            {'value': '1 435 400&nbsp;руб.'}
          ]
        },
        {
          'option': 'Lux <br> Кроме всего вышеперечисленного, в&nbsp;комплект входит принтер для печати фотографий, устройство по&nbsp;выдаче листовок или визиток. Поставляется в&nbsp;транспортировочном кофре',
          'price': [
            {'value': '804 650&nbsp;руб.'},
            {'value': '920 150&nbsp;руб.'},
            {'value': '1 545 275&nbsp;руб.'}
          ]
        }

      ]
    ).price-list-table--custom
    +price-list-note('Для перевозки робота вы&nbsp;можете приобрести транспортировочный кофр за&nbsp;49&nbsp;500&nbsp;руб.')
    +price-list-note('(для Promobot V.2&nbsp;/ Promobot V.2+), 45&nbsp;000&nbsp;руб. (для Promobot V.3)')
