include ../picture/picture.pug

mixin test-block()
  +b.test-block&attributes(attributes)
    p I am test-block
    +e.icons
      p icons:
      each i, index in Array(4)
        - var x = index + 1
        +e.icon(class=`test-block__icon${x}`)
    +e.sharp
      p responsive images:
      +picture([
        {
          "name": "image1",
          "width": [ 900, 700, 500, 300 ]
        }
      ])
