.test-block {
  border: 1px solid;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

.sprites {
  display: flex;
}

[class^=box] {
  width: 3em;
  height: 3em;
  box-sizing: border-box;
  margin: .5em;
  border: 1px solid #000;
}

.box1 {
  background: url(assets/images/mid.png) no-repeat 0 0;
}

.box2 {
  background: url(assets/images/desktop.png) no-repeat 0 0;
}

.box3 {
  background: url(assets/images/maps.png) no-repeat 0 0;
}

.box4 {
  background: url(assets/images/tools2.png) no-repeat 0 0;
}

@media (--l) {
  .test-block {
    border: 1px dashed;
  }
}
