.test-block {
  border: 1px dashed;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image:
      linear-gradient(gray 50%, darkgray 0%),
      linear-gradient(darkgray 50%, gray 0%);
    background-position: left, right;
    background-size: 50% 100%;
    background-repeat: no-repeat;

    &::after {
      content: '@';
    }
  }

  &__icon {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    margin: .5em;
    background-color: snow;
    background-position: center bottom;
    background-size: 64px 64px;
    background-repeat: no-repeat;
  }

  @each $i in 1, 2, 3, 4 {
    &__icon$(i) {
      background-image: inline('assets/images/icon$(i)_64.png');

      @media (min-resolution: 2dppx) {
        background-image: inline('assets/images/icon$(i)_128@2x.png');
      }

      @media (min-resolution: 3dppx) {
        background-image: inline('assets/images/icon$(i)_192@3x.png');
      }
    }
  }
}
